header {
  max-width: 104.8rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.4rem;

  .left {
    height: 2.6rem;

    img {
      height: 100%;
    }
  }

  .middle ul {
    display: flex;
    align-items: center;
    list-style: none;

    li a {
      font-size: 1.4rem;
      padding: 0.8rem 1.6rem;
      color: var(--gray);
      text-decoration: none;

      & + a {
        margin-left: 1.2rem;
      }
    }
  }

  .right {
    margin-left: 0.8rem;

    display: flex;
    align-items: center;

    .conf {
      height: 3.2rem;
      position: relative;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        color: var(--white);
        font-size: 1.4rem;
        width: max-content;
      }
    }
    .avatar {
      margin-left: 0.8rem;
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  @media(max-width: 64rem) {
    .menu-toggle {
      width: 40px;
      cursor: pointer;
    }

    .one,
    .two,
    .three {
      background-color: #888;
      height: 4px;
      width: 100%;
      margin: 5px auto;

      transition-duration: 0.5s;
    }

    .two {
      opacity: 0;
    }

    .middle {
      display: none;
    }

    .right {
      display: none;
    }
  }
}

@media(max-width: 64rem) {
  body {
    overflow: hidden;
  }

  header.on {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .one {
      transform: rotate(45deg) translate(7px, 7px);
    }
    .two {
      opacity: 0;
    }
    .three {
      transform: rotate(-45deg) translate(5px, -8px);
    }

    .left img {
      position: absolute;
      top: -1.8rem;
      left: 2.5rem;
      width: 14.5rem;
      height: 10rem;
    }

    .menu-toggle {
      position: absolute;
      top: 2rem;
      right: 3rem;
    }

    .middle {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      
      ul {
        flex-direction: column;
        width: 100%;

        li {
          width: 100%;
          text-align: center;
          margin: 1rem auto;
          cursor: pointer;
          border: 1px solid var(--black);
          padding: 2rem;
          border-radius: 1rem;

          &:hover {
            border: 1px solid var(--gray);
          }

          a {
            font-size: 3rem;
          }
        }
      }
    }

    .right {
      display: flex;
      margin-top: 10rem;
    }
  }
}
